.about-hospital {
  margin-top: 90px;
  margin-bottom: 90px;
}

.about-hospital__inner {
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  & > img {
    margin: 55px 55px;
    border-radius: 20px;
    margin-left: 80px;

    @media (max-width: $mobile) {
      width: 300px;
      margin-left: 45px;
      box-shadow: 8px 8px 10px gray;
    }
  }
}

.about-hospital__inner-content {
  margin-left: 130px;

  & img {
    @media (max-width: $mobile) {
      width: 50px;
    }
  }

  @media (max-width: $mobile) {
    text-align: center;
    margin-left: 0;
  }

  & h1 {
    font-size: 30px;
    color: tomato;

    @media (max-width: $mobile) {
      font-size: 30px;
    }
  }

  & p {
    font-size: 16px;
    width: 520px;
    color: lightslategray;
    line-height: 25px;

    @media (max-width: $mobile) {
      font-size: 15px;
      line-height: 20px;
      width: 280px;
    }
  }
}
