.my-slider > div {
  height: 650px;
  margin-top: 20px;
  width: 100%;

  @media (max-width: $mobile) {
    height: 230px;
  }
}

// .slide-img img {
//   @media (max-width: $mobile) {
//     height: 230px;
//   }
// }

.tns-controls {
  display: none;
}

[data-action] {
  display: none;
}

.tns-nav {
  display: none;
}

.hero__about {
  position: absolute;
  margin-top: -600px;
  margin-left: 200px;

  @media (max-width: $mobile) {
    margin-top: -680px;
    margin-left: 50px;
  }

  & p {
    width: 300px;
    color: lightslategray;
    text-shadow: 4px 8px 10px gray;
    font-size: 18px;

    @media (max-width: $mobile) {
      font-size: 10px;
      width: 200px;
      color: #222;
    }
  }

  & h1 {
    font-size: 36px;
    width: 400px;
    color: tomato;
    margin-bottom: 40px;

    @media (max-width: $mobile) {
      font-size: 15px;
      width: 200px;
      margin-bottom: 20px;
    }
  }
}

.hero__about-inner {
  position: relative;
}
