.my-slider > div {
  height: 600px;
  margin-top: 20px;
  width: 100%;
}

.tns-controls {
  display: none;
}

[data-action] {
  display: none;
}

.tns-nav {
  display: none;
}

.hero__about {
  position: absolute;
  margin-top: -500px;
  margin-left: 200px;

  & p {
    width: 300px;
    color: lightslategray;
    text-shadow: 4px 8px 10px gray;
    font-size: 18px;
  }

  & h1 {
    font-size: 36px;
    width: 400px;
    color: tomato;
    margin-bottom: 40px;
  }
}

.hero__about-inner {
  position: relative;
}
