.news {
  background-color: rgba(138, 178, 193, 0.218);
  height: 500px;

  @media (max-width: $mobile) {
    height: 1000px;
  }
}

.news__inner {
  text-align: center;
  padding-top: 20px;

  & h1 {
    color: tomato;
    font-size: 35px;

    @media (max-width: $mobile) {
      font-size: 26px;
    }
  }
}

.news__inner-content {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: wrap;
  gap: 50px;
}

.box {
  width: 300px;
  height: 280px;
  background-color: #fff;
  padding-top: 40px;
  border-radius: 20px;
  border: 1px solid #dede;

  @media (max-width: $mobile) {
    width: 200px;
    height: 250px;
    padding-top: 0;
  }

  & h4 {
    width: 250px;
    padding-left: 50px;
    color: tomato;

    @media (max-width: $mobile) {
      width: 190px;
      padding: 0px 10px;
      font-size: 16px;
    }
  }

  &:hover {
    box-shadow: 3px 5px 20px gray;
    transform: scale(1.05);
    transition: 0.3s ease;
  }
}

.box img {
  @media (max-width: $mobile) {
    width: 40px;
    padding-top: 15px;
  }
}

// footer

.address {
  margin-top: 120px;
}

.footer {
  margin-bottom: 50px;
}

.header__nav-footer {
  margin-top: 60px;
}

.footer__content {
  margin-top: 80px;
  margin-left: 80px;
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
  }
}

.footer__content h5 {
  font-size: 15px;
  line-height: 2px;

  @media (max-width: $mobile) {
    line-height: 18px;
    font-size: 12px;
    text-align: center;
  }
}

.footer__content a {
  color: tomato;
}

.footer__content p {
  margin-left: 450px;
  color: tomato;
  font-size: 18px;
  width: 320px;
  text-align: end;

  @media (max-width: $mobile) {
    margin-left: 0;
    font-size: 12px;
    text-align: start;
    width: 200px;
  }
}

.header__list {
  @media (max-width: $mobile) {
    margin-right: 0px;
    margin-left: 50px;
  }
}

.header__content-list {
  @media (max-width: $mobile) {
    margin-left: 0;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 10px;
  }
}
