.types {
  background-image: url(./../../picture/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  text-align: center;
  margin-top: -20px;
}

.types__inner {
  padding-top: 120px;

  & h1 {
    margin-left: -730px;
    font-size: 25px;
    font-weight: 400px italic;
    color: tomato;

    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.types__inner h2 {
  font-size: 38px;
  margin-top: -50px;
  color: #dede;

  @media (max-width: $mobile) {
    font-size: 26px;
  }
}

.types__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 70px;
  margin-top: 60px;
  justify-content: center;
  padding-bottom: 60px;

  @media (max-width: $mobile) {
    justify-content: unset;
  }

  & li {
    width: 300px;
    color: #dede;
    padding: 10px 30px;
    border-radius: 12px;
    background-color: rgba(244, 186, 186, 0.2);

    @media (max-width: $mobile) {
      width: 220px;
      padding: 5px 20px;
    }
  }
}

.types__list li:hover {
  transition: background-color 0.7s ease, color 0.7s ease;
  background-color: #fff;
  color: #000;
}

.title::after {
  content: "";
  display: block;
  width: 90px;
  padding: 2px 0px;
  background: tomato;
  margin-left: 630px;
  margin-top: 30px;

  @media (max-width: $mobile) {
    display: none;
  }
}
